# Compiled Elisp files
*.elc

# Straight package manager
straight/

# Undo-tree save-files

# Local variables

# Auto-save files
auto-save-list/

# Emacs native compilation cache
eln-cache/

# MacOS specific
.DS_Store
.DS_Store?